@import url('https://fonts.googleapis.com/css2?family=Inter');


.header {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  text-align: center;
  font-weight: bolder;
  font-size: 2.5em;
}

.p {
  font-family: "Inter", sans-serif;
  font-weight: "extra-light 200";
}

.linkV {
  text-decoration: underline;
  font-weight: bolder;
  color: blue;
  text-align: center;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  margin-left: 20%;
  margin-right: 20%;
}

.textBody {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}

.contentTitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
}

.projectBox {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}

.individualProject {
  border: 1px solid black;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.technologiesBox {
  max-width: 700px;
  margin: 0 auto;
}

.individualTechs {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.85em;
}

.flexContainer {
  border: 1px solid black;
  display: flex;
  text-align: center;
  justify-content: center;
}

.flexContainer > div {
  margin: 10px;
  padding: 20px;
}

.recourcesContainer {
  display: flex;
  justify-content: center;
}

.recourcesContainer > a {
  margin: 10px;
}
